body
{
    margin: 0;
    padding: 0;
    font-family: arial;
}
.container
{
    width: 70%;
    margin: 0 auto;
}
h1::selection
{
    background: #ff0;
    color: yellowgreen;
}
p::selection
{
    background: #262626;
    color: #fff;
}